body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
    /* position: relative;
            
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word; */
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-width: thin;
    border-radius: 24px;
    min-width: 0px;
    float: left;
    /* margin: 15 px; */
    margin-left: 30px;
    margin-right: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: black;
    color: black;
    text-align: left;
}

#h1 {
    text-align: center;
}

.card-content {
    padding: 16px;
}

.tombol {
    border-radius: 10px;
    text-align: center;
}

.container {
    text-align: center;
    color: #fff;
}

.jumbotron {
    position: relative;
    background: #0000 url("http://i66.tinypic.com/28am9fs.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

.card-img-top {
    border-radius: 20px;
}

.card-title {
    font-size: 1.25rem;
}

.keterangan {
    text-align: justify;
    color: black
}

h4 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.neww {
    border-image: round;
}

.portofolio {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}